_backup
.fabric
.mixin.out
backup
crash-reports
DiscordIntegration-Data
logs
mcmap
probably-broken-regions
versions
world
*.log
mods/EasyAuth/levelDBStore
mods/disabled
./mcsleepingserverstarter-linux-x64