DiscordIntegration-Data
mods/EasyAuth/levelDBStore
mods/disabled
java
proxyip
forwarding.secret

# Fabric stuff
.fabric
.mixin.out
versions

# Logs
crash-reports
logs
*.log

# Backup folders
world-link
backup

# World files
world/*
!world/carpet.conf
!world/carpet-fixes.conf
!world/datapacks